.aside {
	&__item {
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		font-family: "DMSans", sans-serif;
		font-size: rem(18);
		font-weight: 700;
		text-transform: uppercase;
		color: #243f4d;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		&::after {
			content: "";
			display: block;
			width: 39px;
			height: 3px;
			margin-left: 18px;
			border-radius: 1px;
			background-color: #a3bbc8;
		}
	}
}

.aside-category {
	&__form {
		display: flex;
		flex-direction: column;
	}

	&__label {
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:hover {
			.aside-category__label-text {
				background: rgba(163, 187, 200, 0.2);
			}
		}
	}

	&__checkbox {
		display: none;
		&:checked ~ .aside-category__label-text {
			background: rgba(163, 187, 200, 0.2);
		}
	}

	&__label-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
		border-radius: 5px;
		transition: all 0.3s;
		&::after {
			content: "";
			width: 6px;
			height: 10px;
			background: url("../img/icons/angle-right--blue.svg") center/cover no-repeat;
			margin-left: 15px;
		}
	}
}

.aside-range-price {
	&__form {
	}
}
.range-price-form {
	.irs--flat .irs-line {
		top: 15px; // !
		height: 2px;
		border-radius: 4px;
		border-radius: 1px;
		background-color: rgba(163, 187, 200, 0.6);
	}

	.irs--flat .irs-bar {
		top: 14px;
		height: 4px;
		background-color: #a3bbc8;
	}

	.irs--flat .irs-handle {
		cursor: pointer;
		top: 7px;
		width: 15px;
		height: 18px;
		background-color: rgba(0, 0, 0, 0);
	}

	.irs-from,
	.irs-single,
	.irs-to {
		display: none;
	}

	.irs--flat .irs-max,
	.irs--flat .irs-min {
		display: none;
	}

	.irs--flat .irs-handle > i:first-child {
		left: 0;
		margin-left: unset;
		width: 15px;
		background-color: #a3bbc8;
	}

	&__filter-price {
	}

	&__price-box {
		display: flex;
		justify-content: space-between;
		& > *:not(:last-child) {
			margin-right: 15px;
		}
	}
}
.filter-price {
	&__from {
	}

	&__to {
	}
}

.aside-brand {
	&__form {
	}

	&__label {
		display: block;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		cursor: pointer;
		&:hover {
			.aside-brand__label-wrapper {
				background: rgba(163, 187, 200, 0.2);
			}
		}
	}

	&__checkbox {
		display: none;
		&:checked ~ .aside-brand__label-wrapper {
			background: rgba(163, 187, 200, 0.2);
		}
	}

	&__label-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
		border-radius: 5px;
		transition: all 0.3s;
	}

	&__label-text {
	}

	&__label-number {
	}
}

.aside-products {
	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__link-wrapper {
		display: flex;
		align-items: center;
		&:hover {
			.aside-products__title,
			.aside-products__price {
				color: $hover-color;
			}
			.aside-products__image {
				img,
				source {
					transform: scale(1.2);
				}
			}
		}
	}

	&__image {
		overflow: hidden;
		width: 71px;
		height: 71px;
		border: solid 2px #f2f2f2;
		padding: 5px;
		position: relative;
		&:not(:last-child) {
			margin-right: 20px;
		}
		img,
		source {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: all 0.3s;
			position: absolute;
			top: 0;
			left: 0;
			padding: 5px;
		}
	}

	&__content {
	}

	&__title {
		font-size: rem(14);
		color: #333;
		line-height: 1;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__rating {
		padding: unset;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__price {
		font-size: rem(15);
		color: #333;
	}
}
.aside-search {
	&__form {
		display: flex;
	}

	&__input {
		flex-grow: 1;
		border-radius: 5px 0px 0px 5px;
		border: solid 2px #edf1f4;
		border-right: none;
		padding: 10px 15px;
	}

	&__btn {
		border: none;
		background: #edf1f4;
		width: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		border-radius: 0px 5px 5px 0px;
		border: solid 2px #edf1f4;
		svg path {
			fill: #094074;
		}

		&:hover {
			background: rgba(163, 187, 200, 0.5);
			border-color: rgba(163, 187, 200, 0.5);
		}
	}
}

.aside-post {
	&__list {
	}

	&__item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__image-link {
		flex: 0 0 70px;
		height: 70px;
		border: 2px solid #e6e6e6;
		overflow: hidden;

		&:hover {
			& img,
			& source {
				transform: scale(1.1);
			}
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
		img,
		source {
			transition: all 0.3s;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		flex-grow: 1;
	}

	&__title {
		font-size: rem(14);
		line-height: 1;
		font-weight: 500;
		color: #333;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	&__title-link {
		color: inherit;
		transition: all 0.3s;
		&:hover {
			color: $hover-color;
		}
	}

	&__date {
		font-size: rem(12);
		line-height: 1;
		color: #9a9a9a;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			display: inline-block;
			height: 12px;
			width: 10px;
			margin-right: 5px;
			transition: all 0.3s;
			background: url("../img/icons/calendar--gray.svg") center/cover no-repeat;
		}
	}
}
