@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/slick-carousel/slick/slick.css";
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rubik/Rubik-Regular.eot");
  src: url("../fonts/Rubik/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rubik/Rubik-Medium.eot");
  src: url("../fonts/Rubik/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/DMSans/DMSans-Regular.eot");
  src: url("../fonts/DMSans/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/DMSans/DMSans-Medium.eot");
  src: url("../fonts/DMSans/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/DMSans/DMSans-Bold.eot");
  src: url("../fonts/DMSans/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans/DMSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Bold.eot");
  src: url("../fonts/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*--- Common ---*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*--- List ---*/
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--- Images, Video ---*/
img,
svg,
video,
picture {
  max-width: 100%;
  display: block;
}

/*--- Form ---*/
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}

button,
input[type=submit] {
  cursor: pointer;
}

.btn-reset {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
}

/*--- Links ---*/
a[class],
a[class]:visited {
  text-decoration: none;
}

a[class]:hover {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 188%;
  color: #243f4d;
  background: #fff;
}

/*--- Utility ---*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.hidden {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

/*--- Grid ---*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .wrapper {
    padding-bottom: 71px;
  }
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--wide {
  max-width: 1800px;
}

.big-container {
  max-width: 1729px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--- Elements ---*/
.btn {
  display: inline-flex;
  align-items: center;
  font-family: "DMSans", sans-serif;
  background-color: #a3bbc8;
  padding: 16px;
  color: #fff;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.btn:hover {
  border-color: #436372;
  background: transparent;
  color: #436372;
}

.btn--border {
  border-color: #436372;
  color: #436372;
  background: transparent;
}
.btn--border > *:not(:last-child) {
  margin-right: 44px;
}
.btn--border svg path {
  transition: all 0.3s;
  fill: #436372;
}
.btn--border:hover {
  background: #436372;
  color: #fff;
}
.btn--border:hover svg path {
  fill: #fff;
}

.title {
  font-family: "DMSans", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  color: #191919;
}

.--ibg {
  position: relative;
}
.--ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  padding: 48px 0;
  background: #fff;
}
@media (max-width: 1024px) {
  .header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 55;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header__body > *:not(:last-child) {
  margin-right: 15px;
}
.logo {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.logo img:not(:last-child) {
  margin-right: 12px;
}
.logo__text {
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  color: #436372;
}
.logo:hover {
  opacity: 0.8;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .menu__list {
    position: absolute;
    flex-wrap: nowrap;
    top: 54px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 71px - 68px);
    overflow: auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    transition: right 0.3s;
  }
  .menu__list.active {
    right: 0;
  }
}
.menu__item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .menu__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 20px;
  }
}
.menu__link {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #436372;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
.menu__link:hover {
  opacity: 0.7;
}

.menu-btn {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 45px;
  height: 30px;
  position: relative;
  padding: 0;
}
@media (max-width: 1024px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  display: block;
  background: #243f4d;
  width: 100%;
  height: 3px;
  transition: all 0.3s;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
}
.menu-btn span::before {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-btn span::after {
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu-btn.active span {
  background-color: transparent;
}
.menu-btn.active span::before {
  transform: rotate(45deg);
  top: 50%;
  transition: all 0.3s;
}
.menu-btn.active span::after {
  transform: rotate(-45deg);
  top: 50%;
  transition: all 0.3s;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 55;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    justify-content: space-between;
  }
}
.navbar__search-btn {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: rgba(163, 187, 200, 0.2);
  padding: 17px;
  transition: all 0.3s;
}
.navbar__search-btn svg {
  transition: all 0.3s;
}
.navbar__search-btn:hover {
  background: #243f4d;
}
.navbar__search-btn:hover svg path {
  fill: #fff;
}
.navbar__search-btn:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 425px) {
  .navbar__search-btn:not(:last-child) {
    margin-right: 15px;
  }
}
.navbar__btn-box {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  background: #fcd7b6;
  padding: 15px 40px 10px;
}
@media (max-width: 425px) {
  .navbar__btn-box {
    padding: 15px 20px 10px;
  }
}
.navbar__btn-box:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 425px) {
  .navbar__btn-box:not(:last-child) {
    margin-right: 15px;
  }
}
.navbar__btn {
  width: 19px;
  position: relative;
  opacity: 0.8;
  transition: all 0.3s;
}
.navbar__btn:not(:last-child) {
  margin-right: 58px;
}
@media (max-width: 425px) {
  .navbar__btn:not(:last-child) {
    margin-right: 30px;
  }
}
.navbar__btn:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  right: -30px;
  bottom: 0;
}
@media (max-width: 425px) {
  .navbar__btn:not(:last-child)::after {
    right: -18px;
  }
}
.navbar__btn img {
  transition: all 0.3s;
}
.navbar__btn:hover {
  opacity: 1;
}
.navbar__btn-counter {
  position: absolute;
  top: -4px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  font-family: "DMSans", sans-serif;
  color: #243f4d;
  font-size: 0.625rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.navbar__btn-add {
  background: #a3bbc8;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.3s;
}
.navbar__btn-add:hover {
  background: #243f4d;
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 68px;
  }
}
.hero-slider .slick-dots {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .hero-slider .slick-dots {
    bottom: 20px;
  }
}
.hero-slider .slick-dots li:not(:last-child) {
  margin-right: 11px;
}
.hero-slider .slick-dots li button {
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6875rem;
  color: #243f4d;
  font-weight: 500;
  transition: all 0.3s;
}
.hero-slider .slick-dots li:hover button {
  background: #fff;
}
.hero-slider .slick-dots .slick-active button {
  background: #fff;
}

.hero-slide__wrapper {
  background: #fcd7b6;
  padding: 100px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .hero-slide__wrapper {
    padding: 80px 15px;
  }
}
@media (max-width: 768px) {
  .hero-slide__wrapper {
    padding: 40px 15px 80px;
  }
}
.hero-slide__content {
  flex: 0 1 420px;
}
@media (max-width: 1325px) {
  .hero-slide__content {
    flex: 0 1 45%;
  }
}
@media (max-width: 768px) {
  .hero-slide__content {
    flex: 0 1 100%;
    order: 2;
  }
}
.hero-slide__content:not(:last-child) {
  margin-right: 7.1%;
}
@media (max-width: 768px) {
  .hero-slide__content:not(:last-child) {
    margin-right: unset;
    margin-top: 25px;
  }
}
.hero-slide__title {
  color: #243f4d;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 0.97;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero-slide__title {
    font-size: 3.4375rem;
  }
}
@media (max-width: 768px) {
  .hero-slide__title {
    font-size: 2.8125rem;
  }
}
.hero-slide__title:not(:last-child) {
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .hero-slide__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hero-slide__text {
  max-width: 345px;
}
@media (max-width: 768px) {
  .hero-slide__text {
    max-width: 100%;
  }
}
.hero-slide__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .hero-slide__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero-slide__link {
  padding: 15px 25px;
  font-family: "Rubik", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}
.hero-slide__link span:not(:last-child) {
  margin-right: 60px;
}
.hero-slide__link svg path {
  transition: all 0.3s;
}
.hero-slide__link:hover svg path {
  fill: #436372;
}
.hero-slide__image {
  flex: 0 1 755px;
}
@media (max-width: 1325px) {
  .hero-slide__image {
    flex: 0 1 47%;
  }
}
@media (max-width: 768px) {
  .hero-slide__image {
    flex: 0 1 100%;
    height: 250px;
    order: 1;
  }
  .hero-slide__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.features__body {
  background: rgba(252, 215, 182, 0.2);
}
.features__list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .features__list {
    flex-wrap: wrap;
  }
}
.features__item {
  padding: 50px 8.5%;
  position: relative;
  flex: 0 1 33.333%;
}
@media (max-width: 1560px) {
  .features__item {
    padding: 50px 3%;
  }
}
@media (max-width: 1024px) {
  .features__item {
    padding: 30px 15px;
    flex: 0 1 50%;
  }
}
@media (max-width: 555px) {
  .features__item {
    padding: 15px 15px;
    flex: 1 1 100%;
  }
}
.features__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: rgba(36, 63, 77, 0.1);
}
@media (max-width: 555px) {
  .features__item:not(:last-child)::after {
    bottom: 0;
    top: unset;
    left: 0;
    width: 100%;
    height: 1px;
  }
}
.features__wrapper {
  display: flex;
  align-items: center;
}
.features__wrapper > *:not(:last-child) {
  margin-right: 25px;
}
.features__icon {
  min-width: 50px;
}
.features__content {
  max-width: 220px;
  display: flex;
  flex-direction: column;
}
.features__text {
  flex: 1 1 auto;
}

.product-block {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .product-block {
    padding: 50px 0;
  }
}
.product-block__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .product-block__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.product-block__tag-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.product-block__tag-list:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .product-block__tag-list:not(:last-child) {
    margin-bottom: 30px;
    justify-content: flex-start;
  }
}
.product-block__tag-item {
  margin: 5px 15px;
}
.product-block__btn {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #8b8b8b;
  transition: all 0.3s;
}
.product-block__btn:hover, .product-block__btn.mixitup-control-active {
  color: #1a1a1a;
}
.product-block__product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -20px -15px;
}
.product-block__product-item {
  flex: 0 1 25%;
  padding: 20px 15px;
}
@media (max-width: 1024px) {
  .product-block__product-item {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 768px) {
  .product-block__product-item {
    flex: 1 1 50%;
  }
}
.product-block__product-wrapper {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.product-block__product-image {
  flex: 1 1 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.product-block__product-image:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .product-block__product-image:not(:last-child) {
    margin-bottom: 30px;
  }
}
.product-block__product-image img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-block__product-image:hover img {
  transform: scale(1.1);
}
.product-block__product-image:hover .product-nav {
  bottom: 12px;
}
.product-block__product-title {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;
  color: #243f4d;
}
.product-block__product-link {
  font: inherit;
  color: inherit;
  transition: all 0.3s;
}
.product-block__product-link:hover {
  opacity: 0.7;
}
.product-block__product-price {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  line-height: 2.5;
  text-align: center;
  color: #a3bbc8;
}

.product-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  transition: all 0.3s;
  z-index: 5;
}
@media (max-width: 768px) {
  .product-nav {
    bottom: 12px;
  }
}
.product-nav__btn {
  width: 45px;
  height: 45px;
  background: #fff;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(37, 37, 37, 0.2);
}
.product-nav__btn:not(:last-child) {
  margin-right: 16px;
}
.product-nav__btn svg path {
  fill: #a3bbc8;
}
.product-nav__btn:hover {
  background: #a3bbc8;
}
.product-nav__btn:hover svg path {
  fill: #fff;
}

.specials {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .specials {
    padding: 50px 0;
  }
}
.specials__list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 768px) {
  .specials__list {
    flex-wrap: wrap;
  }
}
.specials__item {
  background: rgba(252, 215, 182, 0.4);
  flex: 0 1 46%;
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}
.specials__item:not(:last-child) {
  margin-right: 2%;
}
@media (max-width: 768px) {
  .specials__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 70px;
  }
}
@media (max-width: 1440px) {
  .specials__item {
    padding: 70px 30px;
  }
}
@media (max-width: 1150px) {
  .specials__item {
    flex-direction: column;
    padding: 70px 30px 30px;
  }
}
@media (max-width: 768px) {
  .specials__item {
    flex: 1 1 100%;
  }
}
.specials__image {
  margin-top: -200px;
  flex: 0 1 233px;
}
@media (max-width: 1150px) {
  .specials__image {
    margin-top: -120px;
    height: 250px;
    margin-bottom: 30px;
  }
}
.specials__image:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 1440px) {
  .specials__image:not(:last-child) {
    margin-right: 30px;
  }
}
.specials__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1150px) {
  .specials__image img {
    object-position: 0;
  }
}
.specials__content {
  position: relative;
  flex: 0 1 329px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1150px) {
  .specials__content {
    flex: 1 1 auto;
  }
}
.specials__title {
  font-family: "DMSans", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  height: 100%;
  flex: 1 1 auto;
}
.specials__title:not(:last-child) {
  margin-bottom: 10px;
}
.specials__text {
  height: 100%;
  flex: 1 1 auto;
}
.specials__text:not(:last-child) {
  margin-bottom: 20px;
}
.specials__link {
  align-self: flex-start;
  padding: 15px 20px;
}